<configuration>
  <configSections>
    <section name="DatabaseConfiguration" type="AwasthiSM.Mongo.DatabaseFactory.DatabaseConfiguration, AwasthiSM.Mongo.DatabaseFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="BusConfiguration" type="__NAME__.BusConfiguration, __NAME__, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <clear/>
    <add name="MongoDbConnection" connectionString="mongodb://127.0.0.1:3979" />
  </connectionStrings>
  <DatabaseConfiguration Name="MongoDb.Connection.Dev" DatabaseName="ApiGateway" IsSSL="false" ConnectionStringName="MongoDbConnection" />
  <BusConfiguration HostAddress="rabbitmq://localhost"  VirtualHost="/" Username="anand" Password="anand" QueueName="__NAME__" />
</configuration>
